/* Overall Styling */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  opacity: 100%;
  color: black;
}

a:hover {
  color: #d9072a;
  transition: 0.3s;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.main-wrapper {
  margin: 4% 16%;
}

.header {
  font-size: 3.5em;
  font-weight: 400;
}

/* Event Search Bar */
.search-wrapper {
  background-color: #f8f9fa;
  max-width: 100%;
  padding: 2.5%;
  margin-bottom: 6.25%;
  border-radius: 8px;
  line-height: 250%;
  display: flex;
  justify-content: space-between;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.search-wrapper .query-name {
  font-size: 1.3em;
  font-weight: 600;
}

.srch-btn {
  font-family: "Montserrat", sans-serif;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 1.5% 1.6%;
  font-size: 14px;
  background-color: #d10018;
  cursor: pointer;
}

.w-20 {
  width: 20%;
}

.srch-btn:focus {
  outline: none;
}

.srch-btn:hover {
  filter: brightness(0.9);
  transition: 0.3s;
}

/* Each of the 4 criterias */
.query-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.option {
  font-size: 1.8em;
  font-weight: 200;
  cursor: pointer;
}

.option:hover {
  color: #d9072a;
  transition: 0.2s;
}

.dropdown-content {
  position: absolute;
  background-color: white;
  width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 1.6em;
  line-height: 200%;
}

input[type="text"] {
  font-weight: 100;
}

.keyword-input {
  background-color: #f8f9fa;
  border: none;
  width: 80%;
  font-size: 1.8em;
  color: #d9072a;
  caret-color: #d9072a;
}

.keyword-input:focus {
  outline: none;
}

/* Items of the dropdown */
.list-item {
  border-radius: 3px;
  padding: 0 2%;
  font-weight: 200;
  cursor: pointer;
}

.list-item:hover {
  color: #ff0000;
  background-color: #ffe1e5;
  transition: 0.2s;
}

.date-input {
  font-family: "Mosterrat", sans-serif;
  border: none;
  background-color: #f8f9fa;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 200;
}

.date-input:focus {
  outline: none;
}

/* Events Display */
.events-grid-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-evenly;
}

.event-card {
  position: relative;
  width: 32%;
  margin-bottom: 2.5%;
  cursor: pointer;
  z-index: -1;
}

.event-img {
  width: 100%;
  border-radius: 8px;
  z-index: 1;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(41, 44, 28, 0.045);
  -ms-box-shadow: inset 0px 0px 30px 0px rgba(41, 44, 28, 0.045);
  box-shadow: inset 0px 0px 30px 0px rgba(41, 44, 28, 0.045);
}

.event-info {
  color: white;
  position: absolute;
  height: 100px;
  bottom: 35px;
  left: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.event-price-range {
  font-weight: 300;
  font-size: 1.6em;
  margin: 0;
}

.event-name {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
  line-height: 150%;
}

.event-date-place {
  display: flex;
  margin: 0;
  font-size: 1.65em;
  font-weight: 300;
}

.heart-icn svg {
  fill: white;
}

.like-icn {
  position: absolute;
  top: 35px;
  left: 40px;
  font-size: 25px;
  color: white;
}

.icn {
  opacity: 60%;
  max-width: 10px;
}

.like-icn:hover {
  color: #d10018;
  transition: 0.3s;
}

.event-date-place:hover {
  animation: fadeOut ease 0.3s;
  -webkit-animation: fadeOut ease 0.3s;
  -moz-animation: fadeOut ease 0.3s;
  -o-animation: fadeOut ease 0.3s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-90%);
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-90%);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-90%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

/* FOOTER STYLING */
.foot-wrapper {
  background-color: #f1f1f1;
  width: 100%;
}

.side-margin {
  margin: 0 16%;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-item {
  width: 25%;
  padding: 8% 0;
}

.footer-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.2em;
}

.footer-link-list {
  font-size: 1.6em;
  line-height: 250%;
  opacity: 80%;
  text-transform: capitalize;
}

.o-60 {
  opacity: 60%;
}

.footer-social-panel {
  padding: 0 0 8% 0;
}

.footer-icn {
  font-size: 2.1em;
  margin-right: 4%;
  opacity: 60%;
}

.footer-icn:hover {
  opacity: 100%;
}

/* Using Media Queries for making it responsove for different break-points */
@media screen and (max-width: 1200px) {
  .main-wrapper {
    margin: 4%;
  }

  .event-card {
    width: 48%;
  }

  .side-margin {
    margin: 0 4%;
  }
}

@media screen and (max-width: 915px) {
  .w-20 {
    width: 100%;
    margin-bottom: 3%;
  }

  .srch-btn {
    padding: 3%;
  }

  .footer-icn {
    margin-right: 8%;
  }
}

@media screen and (max-width: 766px) {
  .event-card {
    width: 100%;
  }

  .footer-item {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .srch-btn {
    width: 100%;
  }
}
